@use 'ref';
@use 'var';

#content-container {
  @include ref.flexcont(column, center, center, 2rem);
  background-image: url(/images/decor-page-bgparalax.png);
  background-color: #ffffff;
  background-size: 150%;
  background-position: center center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.det-info {
  @include ref.flexcont(column, center, center);
  gap: 0;
  text-align: center;
  font-size: 1rem;
  img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
  }
}

#audio-stop {
  padding: 0;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 2vh;
  left: 2vw;
  z-index: 3;
  img {
    max-width: 1rem;
    max-height: 1rem;
  }
}


.op0#hero {
  transform: scale(.9, .9);
}
#hero {
  // background: linear-gradient(#00000000 50%,rgba(255, 254, 247, 1)), url(/images/hero-01.jpg) ;
  // @include ref.background-cover;
  @include ref.flexcont(column, space-between, center);
  height: 100vh;
  padding: 5% 5%;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  z-index: 0;
  bottom: 0;
  margin-bottom: 10vh;
  transition-delay: .3s;
  #hero-title {
    @include ref.flexcont(column, center, center, 0.22rem);
    p {
      font-size: 1.25rem;
      letter-spacing: .25rem;
      span {
        font-family: "Playfair Display", serif;
      }
    }
  }
  #hero-img {
    @include ref.flexcont();
    height: 45%;
    width: 100vw;
    position: relative;
    .op0 {
      transform: scale(.25, .25);
    }
    .hero-img {
      z-index: 1;
      height: 90%;
      width: auto;
      border-radius: 10rem;
      box-shadow: 0 5px 20px var.$grey;
    }
    .decor-hero {
      z-index: 0;
      padding-top: 20px;
      position: absolute;
      height: 130%;
      width: auto;
      transition-delay: .5s;
    }
  }
  #hero-ayat {
    @include ref.flexcont(column, end, center);
    font-size: 0.75rem;
    span {
      font-size: 1rem;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#c-mempelai {
  @include ref.flexcont(column, space-between, normal);
  padding: 35% 5%;
  overflow: hidden;
  position: relative;
  gap: 5rem;
  .op0:nth-child(1){
    transform: translate(-75%, 0);
  }
  .op0:nth-child(2){
    transform: translate(75%, 0);
  }
  .cm-decor {
    width: 60%;
    max-width: 350px;
    position: absolute;
  }
  #cm-decor1 {
    transition-delay: 500ms;
    left: -10vw;
    top: 0;
  }
  #cm-decor2 {
    transition-delay: 500ms;
    right: -10vw;
    bottom: 0;
  }
  #cm-nabila, #cm-fauzi {
    @include ref.flexcont(row, center, center);
    height: 25%;
    gap: 2rem;
    .profpic {
      width: 35%;
      height: auto;
      border: 1px solid var.$black;
      border-radius: 1000px;
    }
  }
  #cm-nabila-txt {
    @include ref.flexcont(column, center, center);
    z-index: 0;
    text-align: right;
  }
  #cm-fauzi-txt {
    @extend #cm-nabila-txt;
    text-align: left;
  }
}

#c-gallery {
  @include ref.c-padding();
  @include ref.flexcont(column, center, center);
  margin-top: 0;
  text-align: center;
  #gallery-wrapper {
    overflow-x: hidden;
    width: min(1000px, 100%);
    columns: 2 20vw;
    column-gap: .25rem;
    img{
      display: block;
      margin-bottom: .25rem;
    }
  }
}


#c-waktu {
  @include ref.flexcont(column, space-between, center, 2.5rem);
  @include ref.c-padding();
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  .c-title {
    @include ref.flexcont(column);
  }
  #ctd {
    @include ref.flexcont(column, center, center, 0);
    overflow-x: hidden;
    text-align: center;
    h3 {
      margin-bottom: 1rem;
    }
    #cds {
      @include ref.flexcont(row, space-between, center);
      width: 200px;
      p {span {font-size: 0.75rem;}}
    }
  }
}

#c-tempat {
  @include ref.flexcont(column, space-between, center, 2.5rem);
  @include ref.c-padding();
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  .det-info {
    @include ref.flexcont(column, center, center, .5rem);
    p {
      margin-bottom: .5rem;
    }
    #peta {
      width: 75%;
      height: auto;
      border: 1px solid var.$black;
      border-radius: 20px;
    }
  }
}

#c-penutup {
  @include ref.flexcont(column, center, center, 3rem);
  @include ref.c-padding();
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  overflow-x: hidden;
  .ttd {
    @include ref.flexcont(column, center, center);
    gap: 1rem;
    img {
      width: 3rem;
    }
  }
  .decor-page-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
  }
}
