@use 'ref';
@use 'var';

.top-flower {
  position: absolute;
  top: 0;
  transform: rotate(180deg);
}

#content-container {
  @include ref.flexcont(column, center, center, 2rem);
  background-image: url(/images/decor-page-bgparalax.png);
  background-color: #ffffff;
  background-size: 150%;
  background-position: center center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.det-info {
  @include ref.flexcont(column, center, center);
  gap: 0;
  text-align: center;
  font-size: 1rem;
  img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
  }
}

#audio-stop {
  padding: 0;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 2vh;
  left: 2%;
  z-index: 3;
  img {
    max-width: 1rem;
    max-height: 1rem;
  }
}

.op0#hero {
  transform: scale(.9, .9);
}
#hero {
  // background: linear-gradient(#00000000 50%,rgba(255, 254, 247, 1)), url(/images/hero-01.jpg) ;
  // @include ref.background-cover;
  @include ref.flexcont(column, center, center, 5rem);
  height: 100vh;
  padding: 5% 5%;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
  bottom: 0;
  transition-delay: .3s;
  #hero-title {
    text-shadow: 1px 1px 1px var.$grey;
  }
  p {
    z-index: 2;
    font-size: 2rem;
    text-shadow: 0 1px 1px var.$grey;
    font-family: "Vidaloka", serif;
    span {
      font-style: italic;
      font-family: "Playfair Display", serif;
    }
  }
  #hero-img {
    @include ref.flexcont();
    height: 40%;
    width: 100vw;
    position: relative;
    .op0 {
      transform: scale(.25, .25);
    }
    .hero-img {
      z-index: 1;
      height: 80%;
      width: auto;
      border-radius: 3.5rem;
      box-shadow: 0 5px 20px var.$grey;
    }
    .decor-hero {
      z-index: 0;
      padding-top: 20px;
      position: absolute;
      height: 130%;
      width: auto;
      transition-delay: .5s;
    }
  }
}

#hero-ayat {
  text-align: center;
  padding: 0 5%;
  @include ref.flexcont(column, end, center, .5rem);
  font-size: 0.75rem;
  span {
    font-size: 1rem;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#c-mempelai {
  @include ref.flexcont(column, center, normal);
  padding: 35% 5%;
  overflow: hidden;
  position: relative;
  gap: 5rem;
  height: 100vh;
  .op0:nth-child(1){
    transform: translate(-30%, 0);
  }
  .op0:nth-child(2){
    transform: translate(30%, 0);
  }
  .cm-decor {
    width: 60%;
    max-width: 350px;
    position: absolute;
  }
  #cm-decor1 {
    transition-delay: 500ms;
    left: -10vw;
    top: 0;
  }
  #cm-decor2 {
    transition-delay: 500ms;
    right: -10vw;
    bottom: 0;
  }
  #cm-nabila, #cm-fauzi {
    @include ref.flexcont(row, center, center);
    height: 25%;
    gap: 2rem;
    .profpic {
      width: 35%;
      height: auto;
      border: 1px solid var.$grey;
      border-radius: 1000px;
    }
  }
  #cm-nabila-txt {
    @include ref.flexcont(column, center, center);
    z-index: 1;
    text-align: right;
    h2 {
      color: var.$yel;
      div {
        color: var.$l-yel;
        font-style: italic;
      }
    }
  }
  #cm-fauzi-txt {
    @extend #cm-nabila-txt;
    text-align: left;
    h2 {
      color: var.$gre;
      div {
        color: var.$l-gre;
      }
    }
  }
}

#c-gallery {
  @include ref.flexcont(column, center, center);
  @include ref.c-padding();
  width: 100%;
  margin-top: 0;
  text-align: left;
  #c-gallery-title {
    @include ref.flexcont(row, flex-start, center, 2rem);
    img {
      right: 0;
      width: 45%;
      height: auto;
    }
    h2 {
      color: var.$blu;
      div {
        color: var.$l-blu;
      }
    }
  }
  #gallery-wrapper {
    overflow-x: hidden;
    width: min(1000px, 100%);
    columns: 2 20vw;
    column-gap: .25rem;
    img{
      display: block;
      margin-bottom: .25rem;
    }
  }
}


#c-waktu {
  @include ref.flexcont(column, space-between, center, 2.5rem);
  @include ref.c-padding();
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  #c-waktu-title {
    @include ref.flexcont(row, flex-end, center, 2rem);
    text-align: right;
    img {
      width: 60%;
    }
    h2 {
      color: var.$red;
      div {
        color: var.$l-red;
      }
    }
  }
  #ctd {
    @include ref.flexcont(column, center, center, 0);
    overflow-x: hidden;
    text-align: center;
    h3 {
      margin-bottom: 1rem;
    }
    #cds {
      @include ref.flexcont(row, space-between, center);
      width: 200px;
      p {span {font-size: 0.75rem;}}
    }
  }
}

#c-tempat {
  @include ref.flexcont(column, space-between, center, 2.5rem);
  @include ref.c-padding();
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  .c-title {
    @include ref.flexcont(row, flex-start, center, 2rem);
    text-align: left;
    img {
      width: 70%;
      transform: rotate(-15deg);
    }
  }
  h2 {
    color: var.$pur;
    div {
      color: var.$l-pur;
    }
  }
  .det-info {
    @include ref.flexcont(column, center, center, .5rem);
    p {
      margin-bottom: .5rem;
    }
    #peta {
      width: 75%;
      height: auto;
      box-shadow: 0 3px 7px var.$grey;
      border-radius: 20px;
    }
  }
}

#c-hadiah {
  @include ref.flexcont(column, space-between, center, 2.5rem);
  @include ref.c-padding();
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  .c-title {
    @include ref.flexcont(row, flex-end, center, 2rem);
    text-align: right;
    img {
      width: 70%;
      transform: rotate(-15deg);
    }
  }
  h2 {
    color: var.$yel;
    div {
      color: var.$l-yel;
    }
  }
  #c-hadiah-banklist {
    @include ref.flexcont(column, center, center, .5rem);
    margin-bottom: .5rem;
    .alamat {
      margin-bottom: 1rem;
    }
    .bank-card {
      @include ref.flexcont(row, center, center);
      text-align: left;
      width: 90%;
      border: 1px solid var.$black;
      border-radius: 10px;
      padding: 8px;
      background: #ffffff;
      box-shadow: 0 2px 2px #20202080;
      transition: all 2.5s;
      transform: scale(1);
      h3 {
      transition: all .5s;
        font-size: 1rem;
        margin-bottom: .5rem;
      }
      span {
      transition: all .5s;
      }
      button {
      transition: all .5s;
        width: 8px;
        img {
      transition: all .5s;
          height: 1.25rem;
          width: auto;
        }
      }
      .hadiah-alamat {
      text-align: center;
      }
      &:has(button:disabled) {
        border-color: var.$l-gre;
        h3, span {
        color: var.$gre;
        }
        button {
          background-color: var.$l-gre;
          border: var.$l-gre;
          img {
            opacity: 0;
          }
        }
      }
    }
  }
}

#c-penutup {
  @include ref.flexcont(column, center, center, 3rem);
  @include ref.c-padding();
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  overflow-x: hidden;
  h2 {
    color: var.$pur;
    div {
      color: var.$l-pur;
    }
  }
  .ttd-fau {
    color: var.$gre;
  }
  .ttd-nab {
    color: var.$yel;
  }
  .ttd-kel {
    color: var.$red;
  }
  .ttd {
    @include ref.flexcont(column, center, center);
    gap: 1rem;
    img {
      width: 3rem;
    }
  }
  .decor-page-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
  }
}
