@use 'ref';
@use 'var';

.modal {
  @include ref.flexcont(column, space-between, center);
  background: #ffffff;
  background: url(/images/coverbg.png), #ffffff;
  background-position: center center;
  background-repeat: repeat;
  background-size: 50%;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  padding: 12.5% 10%;
  z-index: 3;
  box-shadow: 0px 10px 30px #00000050;
  transition: top 1s ease-in;
  #nama-undangan {
    font-family: "Vidaloka", serif;
    font-size: 1.25rem;
  }
  button {
    background: #ffffff;
  }
  .cover-item {
    @include ref.flexcont(column, space-between, center);
    border-radius: 10rem;
    background: #ffffff;
    gap: 0.5rem;
  }
  #cover-undangan {
    padding: .5rem 0;
  }
  #cover-title {
    @include ref.flexcont(column, center, center,);
    //border: 1px solid black;
    #title-dan {
      line-height: 0;
      margin-bottom: 1rem;
      font-family: "Playfair Display", serif;
      font-size: 1rem;
    }
  }
}
