@use './ref';

@mixin petals1 ($inittop, $initleft, $duration, $delay) {
    top: $inittop;
    left: $initleft;
    animation: petals1 $duration linear infinite;
    animation-delay: $delay;
}
@mixin petals2 ($inittop, $initleft, $duration, $delay) {
    top: $inittop;
    left: $initleft;
    animation: petals2 $duration linear infinite;
    animation-delay: $delay;
}

#petals-container {
  @include ref.flexcont(column, space-between, normal);
  @include ref.c-padding;
  height: 200vh;
  overflow: hidden;
  position: absolute;
  gap: 5rem;
  z-index: 2;
}

.petals {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  pointer-events: none;
  z-index: 1;
  div {
    position: absolute;
    display: block;
    &:nth-child(1){@include  petals1 ( -20vh, 10vw, 42.5s, 0s)}
    &:nth-child(2){@include  petals2 ( -20vh, 20vw, 35s, 7.5s)}
    &:nth-child(3){@include  petals1 ( -20vh, 30vw, 35s, 15s)}
    &:nth-child(4){@include  petals2 ( -20vh, 40vw, 27.5s, -7.5s)}
    &:nth-child(5){@include  petals1 ( -20vh, 50vw, 35s, 0s)}
    &:nth-child(6){@include  petals2 ( -20vh, 60vw, 35s, 7.5s)}
    &:nth-child(7){@include  petals1 ( -20vh, 70vw, 35s, 15s)}
    &:nth-child(8){@include  petals2 ( -20vh, 80vw, 42.5s, -7.5s)}
    &:nth-child(9){@include  petals1 ( -20vh, 90vw, 35s, 0s)}
  }
}


@keyframes petals1 {
  0% {
    opacity: 0%;
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    opacity: 100%;
  }
  45% {
    transform: translateX(47px);
  }
  50% {
    transform: translateX(50px);
  }
  55% {
    transform: translateX(47px);
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 190vh;
    transform: translateX(0px) rotate(360deg);
  }
}

@keyframes petals2 {
  0% {
    opacity: 0%;
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    opacity: 100%;
  }
  45% {
    transform: translateX(-47px);
  }
  50% {
    transform: translateX(-50px);
  }
  55% {
    transform: translateX(-47px);
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 190vh;
    transform: translateX(0px) rotate(-360deg);
  }
}
