@use 'cover';
@use 'content';
@use 'petals';
@use 'ref';
@use 'var';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  color: var.$black;
}

html {
}

#audio-stop {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  bottom: 2vh;
  left: 2vw;
  z-index: 1;
  img {
    max-width: 1rem;
    max-height: 1rem;
  }
}
