@use 'cover';
@use 'content';
@use 'petals';
@use 'api';
@use 'ref';
@use 'var';
@use 'logo';
@use 'animation';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  color: var.$black;
}

html {
  scroll-snap-type: both mandatory;
}

.snap-container {
  scroll-snap-type: both mandatory;
}
.snap-child {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

body {
  @include ref.flexcont();
  overflow-x: hidden;
  background: var.$grey;
}

.media {
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  .media {
    max-width: 768px;
    background: var.$grey;
  }
}
