---
import '../styles/main.scss';
import Head from '../components/head.astro'
---
<!doctype html>
<html lang="en">
  <head>
    <Head/>
  </head>
  <body>
    <div id="err">
      <img src="/logo_regular.svg" alt="">
     <p>Link yang anda kunjungi tidak valid.</p> 
     <h1>404</h1>
    </div>
  </body>
</html>
