---
//styles
import '../styles/main.scss'
import Cover from '../components/cover.astro'
//components
import Content from '../components/content.astro'
import Fonts from '../components/fonts.astro'
//scripts
import Count from '../scripts/countdown.astro'

//astro
const { undangan }= Astro.params;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Fonts/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nabila Fauzi</title>
  </head>

  <body>
  <audio id="audio" loop>
    <source src="brad-mehldau_blackbird.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
    <div>
      <Cover namaUndangan={undangan}/>
      <Content/>
    </div>
  </body>

</html>

<Count/>
<script src="../scripts/modal.js"></script>
