---
---
<div id="bign">
  <svg
    version="1.1"
    width="225"
    height="225"
    viewBox="0 0 224.99999 224.99999"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <path
      d="m 214.08718,20.349427 q 1.536,2.688 -0.768,4.992 -1.536,1.536 -2.688,0 -2.496,-4.032 -5.568,-4.224 -6.912,-0.384 -13.248,5.76 -6.336,6.144 -11.136,17.472 -4.8,11.328 -9.024,24.768 -4.224,13.44 -7.488,30.336 -3.072,16.704003 -5.568,30.912003 -2.304,14.208 -4.224,29.76 -1.728,15.36 -2.688,23.808 -0.768,8.448 -1.344,15.936 -0.576,1.152 -3.456,1.728 -2.88,0.576 -5.184,-1.152 -11.904,-11.136 -25.728,-65.472 -13.824,-54.528003 -19.584003,-94.464003 -0.384,11.136 -1.536,25.536 -1.152,14.4 -3.84,34.560003 -2.496,20.16 -7.296,38.784 -4.8,18.432 -11.136,34.944 -6.336,16.32 -16.128,26.304 -9.6,9.792 -21.312,9.792 -11.51999,0.192 -18.62399,-9.6 -6.9119997,-9.984 -6.144,-22.08 0.96,-14.592 8.448,-14.784 3.264,-0.384 5.18399,2.496 -1.72799,5.952 -2.11199,14.784 -0.192,8.64 3.45599,16.512 3.648,7.872 9.792,7.872 7.104,0 13.632,-6.144 6.528,-6.336 11.52,-17.856 5.184,-11.712 9.408,-24.576 4.224,-13.056 7.68,-30.336 3.456,-17.472 5.76,-30.912003 2.496,-13.44 4.416,-30.144 2.112,-16.896 2.88,-24.576 0.768,-7.68 1.728,-17.28 3.648,-1.152 5.952,0.192 2.496003,1.344 4.992003,6.144 9.792,18.048 23.808,70.080003 14.016,52.032 19.968,84.864 -0.192,-9.984 0.576,-24.576 0.768,-14.784 2.688,-34.56 1.92,-19.968 5.952,-38.976003 4.224,-19.008 9.792,-35.52 5.76,-16.512 14.784,-26.688 9.216,-10.176 20.352,-10.176 9.792,-0.384 13.056,5.76 z"
    />
  </svg>
</div>
