---
import Petals from './petalsFront.astro'
import Form from './form.astro'
import Comments from './comments.astro'
---
<div id="petals-container" class="hidden op0">
  <Petals/>
</div>

<img class="top-flower" src="/images/decor-page-bottom.png" alt="">
<div id="hero" class="hidden op0 wh-100">

  <div id="hero-title" class="">
    <h2>
      Undangan<div>Pernikahan</div>
    </h2>
  </div>
  <div id="hero-img">
    <img class="hero-img" src="/images/hero.png" alt="hero">
    <img class="decor-hero op0" src="/images/decor-hero.png" alt="">
  </div>
    <p>Nabila <span>&</span> Fauzi</p>
</div>

<img src="/images/devider-h2.png" alt="">

<div id="hero-ayat">
  <span class="txt-b">Qs. Ar-Rum 21</span>
  <br>
  "Di antara tanda-tanda (kebesaran)-Nya ialah bahwa Dia menciptakan pasangan-pasangan untukmu dari (jenis) dirimu sendiri agar kamu merasa tenteram kepad-hanya. Dia menjadikan di antaramu rasa cinta dan kasih sayang. Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir."
</div>

<div id="c-mempelai" class="hidden op0">
  <img class="cm-decor op0" id="cm-decor1" src="/images/flowers/stalk-yel.png" alt="">
  <img class="cm-decor op0" id="cm-decor2" src="/images/flowers/stalk-red.png" alt="">
  <div id="cm-nabila">
    <div id="cm-nabila-txt" class="">
      <h2>Nabila<div>Annisa</div></h2>
      <p class="p2">Anak pertama dari<br>Bapak Duddy P. Sjamsudin<br>dan Ibu Mia Rusmiati</p>
    </div>
    <img class="profpic" src="/images/Nabila-tr.png" alt="">
  </div>
  <div id="cm-fauzi">
    <img class="profpic" src="/images/Fauzi-tr.png" alt="">
    <div id="cm-fauzi-txt" class="">
      <h2>Fauzi<div>Irfandika</div></h2>
      <p class="p2">Anak kedua dari<br>Bapak Bakti Ramadhan<br>dan Ibu Yunyun Yuniastuti</p>
    </div>
  </div>
</div>

<div id="c-gallery" class="hidden op0">
  <div id="c-gallery-title" class="c-title">
    <h2><div>Pra</div> Pernikahan</h2>
    <img src="/images/decoration/praper-left.png" alt="">
  </div>
  <div id="gallery-wrapper">
    <img class="op0" width="10vw" src="/gallery/02.jpg" alt="">
    <img class="op0" width="10vw" src="/gallery/07.jpg" alt="">
    <img class="op0" width="10vw" src="/gallery/03.jpg" alt="">
    <img class="op0" width="10vw" src="/gallery/08.jpg" alt="">
    <img class="op0" width="10vw" src="/gallery/09.jpg" alt="">
    <img class="op0" width="10vw" src="/gallery/06.jpg" alt="">
    <img class="op0" width="10vw" id="gallery-mid" src="/gallery/01.jpg" alt="">
    <img class="op0" width="10vw" src="/gallery/04.jpg" alt="">
  </div>
</div>

<img src="/images/devider-h2.png" alt="">

<div id="c-waktu" class="hidden op0">
  <div id="c-waktu-title" class="c-title">
    <img src="/images/decoration/rangkaian-left.png" alt="">
    <h2>Rangkaian<div>Acara</div></h2>
  </div>
  <p class="description">Rangkaian acara meliputi prosesi akad nikah dan resepsi pernikahan yang akan dilaksanakan di hari yang sama.</p>
  <div class="det-info">
    <img id="wedring" src="/images/wedding-rings-01.svg" alt="">
    <h3>Akad Nikah</h3>
    <p>(Hanya dihadiri keluarga)</p>
  </div>
  <div class="det-info">
    <img id="wedbouq" src="/images/wedding-bouquet-01.svg" alt="">
    <h3>Resepsi Pernikahan</h3>
    <p class=""><slot/></p>
  </div>
  <div id="ctd" class="det-info">
    <img id="hglass" src="/images/hourglass-01.svg" alt="">
    <h3>Menuju Pernikahan</h3>
    <div id="cds"></div>
  </div>
  <button class="button" type="button"><a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Pernikahan%20Nabila%20dan%20Fauzi&details&dates=20241221/20241221" target="_blank">Simpan Tanggal</a></button>
</div>

<img src="/images/devider-h2.png" alt="">

<div id="c-tempat" class="hidden op0">
  <div id="c-tempat-title" class="c-title">
    <h2>Lokasi<div>Kegiatan</div></h2>
    <img src="/images/decoration/tempat-right.png" alt="">
  </div>
  <div class="det-info">
    <h3>Uncle D Space</h3>
    <p>Jl. Cigadung Raya Barat no. 28A<br>Cibeunying Kaler, Bandung</p>
    <img id="peta" src="/images/map.png" alt="">
    <button class="button" type="button"><a href="https://maps.app.goo.gl/bWYPqw5SpdMezy2M8" target="_blank">Buka Peta</a></button>
  </div>
  <div></div>
</div>

<img src="/images/devider-h2.png" alt="">

<div id="c-ucapan" class="hidden op0">
  <h2>Ucapan<div>dan Doa</div></h2>
  <Comments server:defer/>
</div>

<div id="c-rsvp" class="hidden op0">
  <h2>Reservasi<div>Kehadiran</div></h2>
  <Form/>
  <p id="c-rsvp-tq" class="hidden">Terima atas ucapan, doa, serta konfirmasi kehadirannya.</p>
  <img src="/images/decoration/res.png" alt="">
</div>

<img src="/images/devider-h2.png" alt="">

<div id="c-hadiah" class="hidden op0">
  <div id="" class="c-title">
    <img src="/images/decoration/hadiah-left.png" alt="">
    <h2>Tanda<div>Kasih</div></h2>
  </div>
  <p>Doa, restu, serta ucapan selamat Bapak/Ibu/Saudara/i merupakan yang terpenting bagi kami. Bagi Bapak/Ibu/Saudara/i yang bermaksud memberi tanda kasih selain itu, dapat kami terima melalui:</p>
  <div id="c-hadiah-banklist">
    Alamat:
    <div class="bank-card alamat">
      <div class="hadiah-alamat">
      <h3>Jl. Kebon Sirih Dalam no. 19</h3>
      Babakan Ciamis, Sumur Bandung, Kota Bandung.
      </div>
    </div>
    Rekening Bank:
    <div class="bank-card">
      <div>
      <h3>Bank Mandiri a.n. Nabila Annisa</h3>
      1310016137079
      </div>
      <img src="/images/copy.svg" alt="">
    </div>
    <div class="bank-card">
      <div>
      <h3>Bank BCA a.n Fauzi Irfandika</h3>
      1310016137079
      </div>
      <img src="/images/copy.svg" alt="">
    </div>
  </div>
  <p>Semoga informasi di atas dapat mempermudah Bapak/Ibu/Saudara/i dalam menyampaikan kasihnya kepada kami. Mohon dapat menghubungi kami jika bermaksud memberi tanda kasih.</p>
</div>

<img src="/images/devider-h2.png" alt="">

<div id="c-penutup" class="hidden op0">
  <h2><div>Kalimat</div>Penutup</h2>
  <p>Terima kasih kami ucapkan atas perhatian, kasih sayang, serta doa dan restu Bapak/Ibu/Saudara/i, suatu kehormatan bagi kami untuk dapat mengundang anda pada hari bahagia kami. Semoga kita selalu diberkahi kesehatan dan kemampuan, agar dapat bertemu dan berkumpul tidak hanya pada hari bahagia kami, namun pada tiap kesempatan yang ada.</p>
  <div class="ttd">
    <p>tertanda,</p>
    <img src="/logo_bold.svg" alt="">
    <p class="p2">Keluarga<br>Nabila dan Fauzi</p>
  </div>
  <div class="decor-page-bottom">
    <img src="/images/decor-page-bottom.png" alt="">
  </div>
</div>
