---
---
<div id="cover-undangan" class="cover-item">
  <p class="">Kepada Yth.</p>
  <div id="nama-undangan" class="txt-b"><slot/></div>
</div>

<div id="cover-title" class="cover-item">
  <p>dalam bahagia,</p>
  <h1>Nabila Annisa<div id="title-dan">&</div>Fauzi Irfandika</h1>
  <p>beserta keluarga, mengundang Bapak/Ibu/Saudara/i untuk ikut merayakan pernikahan kami.</p>
</div>

<button id="modal-open" class="button">Buka Undangan</button>
