---
const { namaUndangan } = Astro.props;
---

<div id="cover" class="modal wh-100">

    <div id="cover-undangan" class="cover-item">
      <p class="">Kepada Yth.</p>
      <div id="nama-undangan" class="txt-b">{namaUndangan}</div>
    </div>

    <div id="cover-title" class="cover-item">
      <p>dalam bahagia,</p>
      <h1>Nabila Annisa<div id="title-dan">&</div>Fauzi Irfandika</h1>
      <p>beserta keluarga, mengundang anda untuk ikut merayakan pernikahan kami.</p>
    </div>

    <button id="mybutt" class="button">Buka Undangan</button>

    <!--<div id="cover-wdt" class="cover-item">-->
    <!--  <p class="p2">Uncle D Space</p>-->
    <!--  <p class="p2">21.12.24</p>-->
    <!--</div>-->

</div>
