---
import '../styles/main.scss'
import Head from '../components/head.astro'
import Cover from '../components/cover.astro'
import Content from '../components/content.astro'

const myAPI = Astro.locals.runtime.env.SECRET_NOCOAPI;
const myTOK = Astro.locals.runtime.env.SECRET_NOCO;

const response = await fetch(`"${myAPI}`,
  {
    method: 'POST',
    headers: {
    'xc-token': `'${myTOK}'`
    },
  });

const json = await response.json();
const { film } = json.data;
---

<!doctype html>
<html lang="en">
  <Head/>

  <body>
    <p>{film}</p>
    <audio id="audio" loop>
      <source src="/brad-mehldau_blackbird.mp3" type="audio/mpeg">
    </audio>
    <button id="audio-stop" type="button"><img src="/images/music.svg" alt=""></button>

    <div id="mainbody">
      <Cover>
      <slot name="namaundangan"/>
      </Cover>
      <Content>
        <slot name="wtu"/>
      </Content>
    </div>
  </body>
</html>

<script src="../scripts/modal.js"></script>

