---
import '../styles/main.scss'
import Head from '../components/head.astro'
import Cover from '../components/cover.astro'
import Content from '../components/content.astro'
import Count from '../scripts/ctds.astro';
---
<!doctype html>
<html lang="en">
  <head>
    <Head/>
  </head>

  <body>
    <div class="media">
      <button id="audio-stop" type="button"><img src="/images/music.svg" alt=""></button>
      <div id="cover" class="modal wh-100">
        <Cover>
          <slot name="slot-undangan"/>
        </Cover>
      </div>
      <div id="content-container" class="hidden op0">
        <Content>
          <slot name="slot-waktu"/>
        </Content>
      </div>
      <audio id="audio" loop>
        <source src="/brad-mehldau_blackbird.mp3" type="audio/mpeg">
      </audio>
    </div>
  </body>
</html>

<Count/>
<script src="../scripts/modal.js"></script>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry)
      if (entry.isIntersecting) {
        entry.target.classList.add('show')
      }
      //else {
      //  entry.target.classList.remove('show')
      //}
    });
  });

  const hiddenElement = document.querySelectorAll('.op0');
  hiddenElement.forEach((el) => observer.observe(el));
</script>
